[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".config/zsh/base16-shell"]
	path = .config/zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".config/i3/base16-i3"]
	path = .config/i3/base16-i3
	url = https://github.com/khamer/base16-i3
[submodule ".vim/base16-vim"]
	path = .vim/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
