[user]
	email = michael.lohmann@bevuta.com
	name = Michael Lohmann
	useConfigOnly = true
[branch]
	autosetuprebase = always
[pull]
	rebase = true
	ff = only

[alias]
	psu = push -u origin HEAD
	hist = log --graph --decorate --all --oneline
	type = cat-file -t
	dump = cat-file -p
	gone = ! git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	bevuta = config user.email michael.lohmann@bevuta.com
	private = config user.email mi.al.lohmann@gmail.com
[rerere]
	enabled = true
[init]
	defaultBranch = main
[advice]
	skippedcherrypicks = false
[remote "origin"]
	prune = true
[safe]
	directory = /etc/nixos
[submodule]
	recurse = true
[commit]
	verbose = true
