[user]
	email = git@lohmann.sh
	name = Michael Lohmann
	useConfigOnly = true
[branch]
	autosetuprebase = always
	sort = -committerdate
[pull]
	rebase = true
	ff = only
[sendemail]
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = mi.al.lohmann@gmail.com
	confirm = always
[alias]
	psu = push -u origin HEAD
	hist = log --graph --decorate --all --oneline
	type = cat-file -t
	dump = cat-file -p
	gone = ! git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	bevuta = config user.email michael.lohmann@bevuta.com
	private = config user.email mi.al.lohmann@gmail.com
[rerere]
	enabled = true
	autoupdate = true
[init]
	defaultBranch = main
[advice]
	skippedcherrypicks = false
[remote "origin"]
	prune = true
[safe]
	directory = /etc/nixos
[submodule]
	recurse = true
[commit]
	verbose = true
[log]
	follow = true
[core]
	excludesfile = /Users/michael/.gitignore_global
[credential]
	helper = osxkeychain
[format]
	signOff = true
[stash]
	showPatch = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[column]
	ui = auto
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
